<!DOCTYPE html>

</body>
</html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nouvelle Tâche</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="bg-image"></div>

    <div class="glass-box">
        
        </div>
</head>
<body>
    <h1>➕ Ajouter une tâche</h1>
    <form method="post">
        <label>Titre :</label><br>
        <input type="text" name="titre" required><br>

        <label>Description :</label><br>
        <textarea name="description"></textarea><br>

        <label>Date d'échéance :</label><br>
        <input type="date" name="date_echeance" required><br><br>

        <input type="submit" value="Enregistrer">
    </form>
    <br>
    <a href="/taches">Annuler</a>
</body>
</html>
